<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Fpoly</title>
     <link href="/src/resources/views/css/bootstrap.min.css" rel="stylesheet">
    <link href="/src/resources/views/css/templatemo-xtra-blog.css" rel="stylesheet">
</head>
<body>
    {{>header}}
    {{{ body}}}
    {{>footer}}
</body>
</html>