{{!-- <div class="container">
  <main class="row">
    <section class="col-md-3">
      <div class="card mb-3">
        <div class="card-body h-30">
          <div class="d-flex align-items-center">
            <img
              src="https://xemanhdep.com/wp-content/uploads/2016/04/hinh-anh-girl-xinh-dep-nhat-2016-10.jpg"
              alt="User Avatar"
              class="rounded-circle me-2"
              width="50"
              height="50"
            />
            <h4 class="mb-0">dương</h4>
          </div>
          <ul class="list-unstyled mt-3">
            <li class="mx-1"><a href="#"><i class="fa-solid fa-newspaper"></i>
                Thêm Bài Viết</a></li>
            <li class="mx-1"><a href="#"><i class="fa-solid fa-user-group"></i>
                Bạn bè</a></li>
            <li class="mx-1"><a href="#"><i
                  class="fa-solid fa-people-group"
                ></i>
                Nhóm</a></li>
            <li class="mx-1"><a href="#"><i
                  class="fa-regular fa-calendar-plus"
                ></i>
                Sự kiện</a></li>
            <li class="mx-1"><a href="#"><i class="fa-solid fa-gear"></i>
                Cài đặt</a></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="col-md-9">
      <div class="card mb-3">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <img
              src="https://xemanhdep.com/wp-content/uploads/2016/04/hinh-anh-girl-xinh-dep-nhat-2016-10.jpg"
              alt="User Avatar"
              class="rounded-circle me-2"
              width="50"
              height="50"
            />
            <h4 class="mb-0">dương</h4>
          </div>
          <div class="text-muted">1 giờ trước</div>
        </div>
        <div class="card-body">
          <h2>Chim én bay dày đặc ở TP Rạch Giá</h2>
          <p>Đàn chim én kéo về công viên Nguyễn Trung Trực, TP Rạch Giá, đậu
            kín trên cây, dây điện tạo khung cảnh lạ mắt, song đem lại phiền
            toái cho người dân.</p>
          <img
            src="https://i1-vnexpress.vnecdn.net/2024/03/14/z5249437136659-51029fbcd1e6cff-2148-8497-1710422712.jpg?w=680&h=408&q=100&dpr=1&fit=crop&s=TOhrY99xpDeU8oU8F0LLEQ"
            alt="Post Image"
          />
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary">Thích</button>

          <button type="button" class="btn btn-primary">Thích</button>
          <button type="button" class="btn btn-outline-primary">Bình luận</button>
          <button type="button" class="btn btn-outline-primary">Chia sẻ</button>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <img
              src="https://xemanhdep.com/wp-content/uploads/2016/04/hinh-anh-girl-xinh-dep-nhat-2016-10.jpg"
              alt="User Avatar"
              class="rounded-circle me-2"
              width="50"
              height="50"
            />
            <h4 class="mb-0">Username</h4>
          </div>
          <div class="text-muted">2 giờ trước</div>
        </div>
        <div class="card-body">
          <h2>Thiệp cưới in số tài khoản </h2>
          <p>Một trong hai người gởi thiệp mời cho tôi là cô bạn thân thời đại
            học. Bạn chỉ có mỗi một cô con gái, học rất giỏi ở trường chuyên của
            tỉnh. Tốt nghiệp đại học, cô bé làm việc cho chi nhánh tại Việt Nam
            của một công ty nước ngoài. Chỉ sau một thời gian ngắn, cháu được
            tuyển chọn qua làm việc cho công ty mẹ ở châu Âu.</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary">Thích</button>
          <button type="button" class="btn btn-outline-primary">Bình luận</button>
          <button type="button" class="btn btn-outline-primary">Chia sẻ</button>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <img
              src="https://xemanhdep.com/wp-content/uploads/2016/04/hinh-anh-girl-xinh-dep-nhat-2016-10.jpg"
              alt="User Avatar"
              class="rounded-circle me-2"
              width="50"
              height="50"
            />
            <h4 class="mb-0">Username</h4>
          </div>
          <div class="text-muted">2 giờ trước</div>
        </div>
        <div class="card-body">
          <h2>Nhìn người ta đánh vợ</h2>
          <p>Mỗi khi nghe tiếng chửi thề phát ra từ ngôi nhà lá bên sông, cả xóm
            tôi đều biết chị Hương lại bị chồng đánh. Có lần tôi thấy chị hớt
            hải chạy rồi ngồi thụp xuống núp sau mấy gốc cây trong vườn hàng
            xóm. Theo sau là tiếng chửi rất to của chồng chị, tiếng đập đồ loảng
            xoảng bảo chị về nhà ngay, nếu không anh sẽ đốt hết quần áo. Chị vẫn
            ngồi yên, chưa đầy một phút sau, mùi nhựa bốc lên nồng nặc trong mớ
            khói đen vút lên từ đám cháy trước sân nhà chị. Chạng vạng tối,
            tiếng chửi dịu đi, chị bước ra kể với tôi: "Chế đang ngồi ăn cơm thì
            nó đi đá gà về thua nên chửi đánh chế. Nó lại đốt hết quần áo của
            chế rồi", chị kể, thản nhiên như đang kể chuyện ăn cơm uống nước mỗi
            ngày. "Em hỏi thiệt, sao chế không bỏ ổng đi? Sống vầy khổ quá?",
            tôi hỏi. "Chế không có nơi để đi cưng ơi. Chế mà bỏ được nó chế ăn
            chay trường" - chị vừa nói vừa xoa xoa vết thương cũ trên tay. Chị
            Hương ở nơi khác đến làm dâu xứ này. Tính tình chị xởi lởi, hiền
            lành, thân thiện nên cả xóm ai cũng thương. Đám cưới chưa tròn
            tháng, những trận đánh chửi đã bắt đầu. Chị Hương không nghề nghiệp,
            chồng đi làm phụ hồ. Lúc chị mang đứa con đầu lòng, nhà hết gạo ăn,
            ngoại tôi bảo mẹ xúc gạo trong nhà cho. Nhưng đứa con thứ nhất rồi
            thứ hai ra đời liên tiếp. Những trận đòn nhừ tử, những lời chửi mắng
            diễn ra gần như mỗi ngày. Thua bài đánh, thua độ đánh, nhậu say
            đánh... chị Hương cứ chạy trốn như vậy. Cũng có lần xóm tôi gọi công
            an, can được hôm đó, hôm sau mọi thứ lại như cũ.</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary">Thích</button>
          <button type="button" class="btn btn-outline-primary">Bình luận</button>
          <button type="button" class="btn btn-outline-primary">Chia sẻ</button>
        </div>
      </div>
    </section>
  </main>
</div> --}}

<div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">                
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                         <i class="fa-solid fa-magnifying-glass" style="width: 100px;"></i>
                        </button>                                
                    </form>
                </div>                
            </div>            
            <div class="row tm-row">
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
                        <div class="tm-post-link-inner">
                            <img src="img/img-01.jpg" alt="Image" class="img-fluid">                            
                        </div>
                        <span class="position-absolute tm-new-badge">New</span>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Simple and useful HTML layout</h2>
                    </a>                    
                    <p class="tm-pt-30">
                        There is a clickable image with beautiful hover effect and active title link for each post item. 
                        Left side is a sticky menu bar. Right side is a blog content that will scroll up and down.
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Travel . Events</span>
                        <span class="tm-color-primary">June 24, 2020</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>36 comments</span>
                        <span>by Admin Nat</span>
                    </div>
                </article>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="/about" class="effect-lily tm-post-link tm-pt-60">
                        <div class=" tm-post-link-inner">
                            <img src="img/img-02.jpg" alt="Image" class="img-fluid">                            
                        </div>
                        <span class="position-absolute tm-new-badge">New</span>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Multi-purpose blog template</h2>
                    </a>                    
                    <p class="tm-pt-30">
                        <a rel="nofollow" href="https://templatemo.com/tm-553-xtra-blog" target="_blank">Xtra Blog</a>  is a multi-purpose HTML CSS template from TemplateMo website. 
                        Blog list, single post, about, contact pages are included. Left sidebar fixed width and content area is a fluid full-width.
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Creative . Design . Business</span>
                        <span class="tm-color-primary">June 16, 2020</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>48 comments</span>
                        <span>by Admin Sam</span>
                    </div>
                </article>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="post.html" class="effect-lily tm-post-link tm-pt-20">
                        <div class="tm-post-link-inner">
                            <img src="img/img-03.jpg" alt="Image" class="img-fluid">
                        </div>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">How can you apply Xtra Blog</h2>
                    </a>                    
                    <p class="tm-pt-30">
                        You are <u>allowed</u> to convert this template as any kind of CMS theme or template for your custom website builder. 
                        You can also use this for your clients. Thank you for choosing us.
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Music . Audio</span>
                        <span class="tm-color-primary">June 11, 2020</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>24 comments</span>
                        <span>by John Walker</span>
                    </div>
                </article>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="post.html" class="effect-lily tm-post-link tm-pt-20">
                        <div class="tm-post-link-inner">
                            <img src="img/img-04.jpg" alt="Image" class="img-fluid">
                        </div>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">A little restriction to apply</h2>
                    </a>                    
                    <p class="tm-pt-30">
                        You are <u>not allowed</u> to re-distribute this template as a downloadable ZIP file on any template collection
                        website. This is strongly prohibited as we worked hard for this template. Please contact TemplateMo for more information.
                		<br>For example, <a href="https://www.free-css.com/free-css-templates/page272/xtra-blog" target="_blank">Free-CSS</a> redistributed this Xtra Blog template on their website without asking any permission. It is an illegal act by Free-CSS website doing an unauthorized reposting.</p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Artworks . Design</span>
                        <span class="tm-color-primary">June 4, 2020</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>72 comments</span>
                        <span>by Admin Sam</span>
                    </div>
                </article>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="post.html" class="effect-lily tm-post-link tm-pt-20">
                        <div class="tm-post-link-inner">
                            <img src="http://127.0.0.1:5500/img/img-01.jpg" alt="Image" class="img-fluid">
                        </div>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Color hexa values of Xtra Blog</h2>
                    </a>                    
                    <p class="tm-pt-30">
                        If you wish to kindly support us, please contact us or contribute a small PayPal amount to info [at] templatemo.com that is helpful for us.
                        <br>
                        Title #099 New #0CC <br>
                        <span class="tm-color-primary">Text #999 Line #CCC Next #0CC Prev #F0F0F0</span>
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Creative . Video . Audio</span>
                        <span class="tm-color-primary">May 31, 2020</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>84 comments</span>
                        <span>by Admin Sam</span>
                    </div>
                </article>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="post.html" class="effect-lily tm-post-link tm-pt-20">
                        <div class="tm-post-link-inner">
                            <img src="img/img-06.jpg" alt="Image" class="img-fluid">
                        </div>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Donec convallis varius risus</h2>
                    </a>                    
                    <p class="tm-pt-30">
                        Quisque id ipsum vel sem maximus vulputate sed quis velit. Nunc vel turpis eget orci elementum cursus vitae in eros. Quisque vulputate nulla ut dolor consectetur luctus.
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Visual . Artworks</span>
                        <span class="tm-color-primary">June 16, 2020</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>96 comments</span>
                        <span>by Admin Sam</span>
                    </div>
                </article>
            </div>
            <div class="row tm-row tm-mt-100 tm-mb-75">
                <div class="tm-prev-next-wrapper">
                    <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20">Prev</a>
                    <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
                </div>
                <div class="tm-paging-wrapper">
                    <span class="d-inline-block mr-3">Page</span>
                    <nav class="tm-paging-nav d-inline-block">
                        <ul>
                            <li class="tm-paging-item active">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">1</a>
                            </li>
                            <li class="tm-paging-item">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">2</a>
                            </li>
                            <li class="tm-paging-item">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">3</a>
                            </li>
                            <li class="tm-paging-item">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">4</a>
                            </li>
                        </ul>
                    </nav>
                </div>                
            </div>            